DeepLearning_Microsoft_SemanticKernel/.env
StreamlitApps/.env
Langchain Parsing Memory Chains/.env
Langchain Splitting Vector Stores and Embeddings/.env
Weaviate Implementation/.env
chroma_db
PDF Chat/.env
